@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://mimahmud-wa2017a7.azurewebsites.net" class="btn btn-primary btn-lg" target="_blank">Assignment7 on Azure &raquo;</a></p>
</div>

<div class="jumbotron">
    <h4>Assignment 7 is an useful tutorial on Microsoft Azure</h4>
    <h6>Few important tasks done thoughout the process are: </h6>
    <ul>
        <li>Created a new personal Microsoft Account</li>
        <li>Ordered the Microsoft Azure from Microsoft imagine store</li>
        <li>Rgistered for the new account</li>
        <li>Received the subscription</li>
        <li>Created a Dataserver and a Database</li>
        <li>Created a web App with a new service plan</li>
    </ul>
</div>


