<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mimahmud-wa2017a9.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mimahmud-wa2017a9.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mimahmud-wa2017a9</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mimahmud-wa2017a9</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mimahmud-ds2017a9.database.windows.net,1433;Initial Catalog=A9store;Persist Security Info=False;User ID=mimahmud;Password=oneTWO345;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:mimahmud-ds2017a9.database.windows.net,1433;Initial Catalog=A9store;Persist Security Info=False;User ID=mimahmud;Password=oneTWO345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Assignment_9.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="Assignment_9.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:mimahmud-ds2017a9.database.windows.net,1433;Initial Catalog=A9store;Persist Security Info=False;User ID=mimahmud;Password=oneTWO345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>