@{
    ViewBag.Title = "Contact";
}
<h2>Contact Me</h2>
<address>
    5 Massey Square<br />
    Scarborough, Toronto. ON<br />
    <abbr title="Phone">P:</abbr>
    416.878.3551
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/mahmud.antor.1">Mahmud.antor</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/mahmud-antor">islam.antor@yahoo.com</a>
</address>