<div class="jumbotron">
    <h3>Assignment 5</h3></br>
    <h4>This is my ASP.NET MVC5 Assignment-5 in INT422 Course, on Windows in c#. Summer-2017</h4>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/int422.html" class="btn btn-primary btn-lg" target="_blank">Int422</a></p>
</div>

<div class="jumbotron">
    <h5>**********************Courses I have finished so far in seneca college CPD program*********************</h5>
</div>

<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>1st Semester</legend>
            <table>
                <tr>
                    <td>
                        <input type="checkbox" name="toppings" id="t01" value="Anchovies" />IPC144<br>
                        <input type="checkbox" name="toppings" id="t02" value="Bacon" />IOS101<br>
                        <input type="checkbox" name="toppings" id="t03" value="Ham" />APC100<br>
                        <input type="checkbox" name="toppings" id="t04" value="Pepperoni" />EAC150<br>
                        <input type="checkbox" name="toppings" id="t05" value="Salami" />ULI101
                    </td>

                </tr>
            </table>
        </fieldset>

    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>2nd Semester</legend>
            <table>
                <tr>
                    <td>
                        <input type="checkbox" name="toppings" id="t07" value="Broccoli" />DBS201<br>
                        <input type="checkbox" name="toppings" id="t08" value="Green Olives" />IBC233<br>
                        <input type="checkbox" name="toppings" id="t09" value="Green Peppers" />INT222<br>
                        <input type="checkbox" name="toppings" id="t10" value="Mushrooms" />OOP244<br>
                        <input type="checkbox" name="toppings" id="t11" value="Red Onions" />CAN149<br>
                    </td>

                </tr>
            </table>
        </fieldset>

    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>3rd Semester</legend>
            <table>
                <tr>
                    <td>
                        <input type="checkbox" name="toppings" id="t07" value="Broccoli" />DBS301<br>
                        <input type="checkbox" name="toppings" id="t08" value="Green Olives" />Int322<br>
                        <input type="checkbox" name="toppings" id="t09" value="Green Peppers" />SYS366<br>
                        <input type="checkbox" name="toppings" id="t10" value="Mushrooms" />OOP345<br>
                        <input type="checkbox" name="toppings" id="t11" value="Red Onions" />CAN239<br>
                    </td>
                </tr>
            </table>
        </fieldset>

    </div>
</div>
