@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET</h2>
    <p class="lead">This is My Assignment9 of Int422 deployed in Microsoft Azure</p>
    <p><a href="http://mimahmud-wa2017a9.azurewebsites.net" class="btn btn-primary btn-lg" target="_blank">Assignment8 on Azure &raquo;</a></p>
</div>

<div class="jumbotron">
    <h4>Assignment 9 and ideas associated with it</h4>
    <ul>
        <li># Rich-Text and Non-Text media Item</li>
        <li># creating own design model classes</li>
        <li># loading initial data</li>
        <li># working in the identityModels.cs</li>
        <li># running enable-migrations, add-migration initial and update-database commands</li>
        <li># publishing the app in a new service plan on Azure using different location</li>
    </ul>
</div>